*{
    box-sizing: border-box;
}
.container{
    max-width: 1470px;
    margin: 15px auto;
    padding: 0 15px;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #990909;
    color: #fff;
}
header{
    text-align: center;
}
.content{
    padding: 30px 0 10px;
    background-color: #000;
}
.content__items{
    display: flex;
    justify-content: space-between;
}
.content__item{
    text-align: center;
    width: 23%;
}
.main__container{
    display: flex;
}
.navigation{
    background-color: #7d0909;
    padding-left: 10px;
    width: 25%;
}
.navigation__link{
    color: #da320a;
    margin-bottom: 15px;
    display: block;
}
.info{
    background-color: #e3dddd;
    width: 20%;
}
.info__title{
    font-weight: 700;
    text-align: center;
    color: #000;
    background-color: #bdbdbd;
    font-size: 20px;
    padding: 5px 0;
}
.info__text{
    color: #000;
}
.info__text p{
    padding-top: 50px;
    position: relative;
}
.info__text p:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #bdbdbd;
    left: 23%;
    top: 20px;
}
.wrapper{
    padding: 25px 0;
    width: 65%;
}
.wrapper__text p{
    margin-bottom: 20px;
}
.footer{
    background-color: #e95b11;
}
.footer__title{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
}
